<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Qiita Count</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <table class="table table-striped">
      <tr>      
        <th></th>
        <th>id</th>
        <th>post count</th>
      </tr>
    <% @post_counts.each do |post_count| %>
      <tr>      
        <td><img src="<%=  post_count['image'] %>"></td>
        <td><%=  post_count['id'] %></td>
        <td><%=  post_count['count'] %></td>
      </tr>
    <% end %>
    </table>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
