<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Qiita Count</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <ol>
      <li><a href="/tags">タグ別投稿数ランキング</a></li>
      <li><a href="/users">ユーザ別投稿数ランキング</a></li>
    </ol>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
